apiVersion: v1
kind: Service
metadata:
  name: canary-demo
  namespace: default
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: canary-demo